body {
    margin: 0px;
    padding: 0px;
    font-family: Tahoma;
}

a {
    text-decoration: none;
}

#container {
    width: 1300px;
    margin: auto;
}
#tab {
    width: 1300px;
    height: 50px;
    margin-bottom: 10px;
}
#tab .lab {
    height: 58px;
}
#tab .lab ul {
    padding: 0px;
    margin: 0px;
    background: white;
    overflow: auto;

}
#tab .lab ul li{
    width: 80px;
    list-style: none;
    float: left;
    padding: 15px;
    font-weight: bold;
}
#tab ul li:hover {
    background: black;
    cursor: pointer;
    border-bottom: 3px solid whitesmoke;
}
#tab ul li:hover a {
    color: darkgray;
}
#section_tab {
   width: 1300px;
}
#section_tab .lab1 {
    color: black ;
    text-align: center;
    font-weight: bolder;
    font-size: 30px;
}
#section_tab .content {
    width: 1300px;
}
#section_tab .tabs {
    margin: 40px 100px;
    width: 1000px;
}
#section_tab ul {
    padding: 0px;
    margin: 0px;
    overflow: auto;
}
#section_tab ul li {
    width: 200px;
    list-style: none;
    float: left;
    padding: 20px;
    font-weight: bold;
}

#section_tab ul li a {
    color: black;
    text-align: center;

}
#section_tab .tab-content{
    border-top: 1px solid gray;
    width: 1300px;
}
#section_tab .tab-content .tab-pane {
    margin-left: 20px;
    font-size: 16px;
    width: 600px;
}
#content_chinh {
    width: 900px;
}
#content_chinh #content_con1{
    width: 900px;
    height: 500px;
}
#content_con1 #head{
    font-size: 30px;
    color: darkred;
    margin-bottom: 30px;
}
#content_con1 #nav_add_find{
    width: 900px;
    height: 30px;
    margin-left: 150px;
    margin-bottom: 50px;
}
#content_con1 #nav_add_find .alpha{
    float: left;
}
#content_con1 #nav_add_find .alpha .bt_them{
    background: darkred;
    border-style: none;
    width: 80px;
    height: 30px;
    color: white;
}
#content_con1 #nav_add_find .omega{
    float: left;
    margin-left: 250px;
}
#content_con1 #nav_add_find .omega .bt_timkiem{
    background: black;
    color: white;
    border-style: none;
    height: 30px;

}
#content_con1 #nav_add_find .omega #t_timkiem{
    background: green;
    color: white;
    border-style: none;
    width: 360px;
    height: 30px;
}
#content_con1 .table1{
    color: black;
}

#content_con2{
    width: 900px;
    height: 500px;
}
#content_con2 #head1{
    font-size: 30px;
    color: darkblue;
    margin-bottom: 30px;
}
#content_con2 #row1{
    width: 700px;
    height: 50px;
    margin-left: 200px;
}
#content_con2 #row1 p{
    float: left;

}
#content_con2 #row1 p{
    color: black;
}
#content_con2 #row1 .text_masp{
    float: left;
    margin-left: 10px;
    width: 350px;
    color: white;
    background: indianred;
    border-style: none;
}

#content_con2 #row2{
    width: 700px;
    height: 50px;
    margin-left: 200px;
}
#content_con2 #row2 p{
    float: left;

}
#content_con2 #row2 p{
    color: black;
}
#content_con2 #row2 .text_tensp{
    float: left;
    margin-left: 10px;
    width: 350px;
    color: white;
    background: indianred;
    border-style: none;
}

#content_con2 #row3{
    width: 700px;
    height: 50px;
    margin-left: 200px;
}
#content_con2 #row3 p{
    float: left;

}
#content_con2 #row3 p{
    color: black;
}
#content_con2 #row3 .text_dg{
    float: left;
    margin-left: 55px;
    width: 350px;
    color: white;
    background: indianred;
    border-style: none;
}
#content_con2 .bt{
    margin-top: 20px;
    margin-left: 100px;
    background: dodgerblue;
    border-style: none;
}


#content_con3{
    width: 900px;
    height: 500px;
}
#content_con3 #head2{
    font-size: 30px;
    color: darkblue;
    margin-bottom: 30px;
}
#content_con3 #row_sua_1{
    width: 700px;
    height: 50px;
    margin-left: 200px;
}
#content_con3 #row_sua_1 p{
    float: left;

}
#content_con3 #row_sua_1 p{
    color: black;
}
#content_con3 #row_sua_1 .text_masp{
    float: left;
    margin-left: 10px;
    width: 350px;
    color: white;
    background: indianred;
    border-style: none;
}

#content_con3 #row_sua_2{
    width: 700px;
    height: 50px;
    margin-left: 200px;
}
#content_con3 #row_sua_2 p{
    float: left;

}
#content_con3 #row_sua_2 p{
    color: black;
}
#content_con3 #row_sua_2 .text_tensp{
    float: left;
    margin-left: 10px;
    width: 350px;
    color: white;
    background: indianred;
    border-style: none;
}

#content_con3 #row_sua_3{
    width: 700px;
    height: 50px;
    margin-left: 200px;
}
#content_con3 #row_sua_3 p{
    float: left;

}
#content_con3 #row_sua_3 p{
    color: black;
}
#content_con3 #row_sua_3 .text_dg{
    float: left;
    margin-left: 55px;
    width: 350px;
    color: white;
    background: indianred;
    border-style: none;
}
#content_con3 .bt{
    margin-top: 20px;
    margin-left: 100px;
    background: dodgerblue;
    border-style: none;
}
#content_con4{
    width: 900px;
    height: 100px;
}

#content_con4 #head3{
    font-size: 30px;
    color: darkblue;
    margin-bottom: 30px;
}
#content_con4 #nav_text{
    color: black;
}

#content_con4 .bt_xoa{
    background: red;
    color: white;
    width: 80px;
    border-style: none;
    margin-right: 200px;
}
#content_con4 .bt_ql_xoa{
    background: black;
    color: white;
    width: 80px;
    border-style: none;

}
#page_ds {
    width: 900px;
}
#page_ds #design_1{
    width: 800px;
    height: 800px;
    margin-top: 100px;
}
#page_ds #design_1 #head_ds1{
    font-size: 30px;
    width: 600px;
    height: 50px;
    background: lightslategray;
    margin: 50px 100px;
}
#design_1 #background_1{
    float: left;
}
#design_1 .down_pic1{
    float:right;
}

#page_ds #design_1 .down_pic1{
    width: 100px;
    margin-top: 40px;
    height: 40px;
    font-weight: bold;
    font-family: Arial;
    background: slategrey;
    border-style: none;

}


#page_ds #design_2{
    width: 800px;
    margin-top: 100px;
    height: 550px;
}
#page_ds #design_2 #head_ds2{
    font-size: 30px;
    width: 600px;
    height: 50px;
    background: lightslategray;
    margin: 50px 100px;
}

#design_2 #background_2{
    float: left;
}
#design_2 .down_pic1{
    float:right;
}

 .down_1{
    text-decoration: none;
    color: white;
}
#page_ds #design_2 .down_pic1{
    width: 100px;
    height: 40px;
    margin-top: 40px;
    font-weight: bold;
    font-family: Arial;
    background: slategrey;
    border-style: none;

}

#page_ds #design_3{
    width: 800px;
    height: 550px;
    margin-top: 100px;
}
#page_ds #design_3 #head_ds3{
    font-size: 30px;
    width: 600px;
    height: 50px;
    background: lightslategray;
    margin: 50px 100px;
}

#design_3 #background_3{
    float: left;
}
#design_3 .down_pic1{
    float:right;
}

.down_1{
    text-decoration: none;
    color: white;
}
#page_ds #design_3 .down_pic1{
    width: 100px;
    height: 40px;
    margin-top: 40px;
    font-weight: bold;
    font-family: Arial;
    background: slategrey;
    border-style: none;

}



#page_ds #design_4{
    width: 800px;
    height: 550px;
    margin-top: 100px;
}
#page_ds #design_4 #head_ds4{
    font-size: 30px;
    width: 600px;
    height: 50px;
    background: lightslategray;
    margin: 50px 100px;
}

#design_4 #background_4{
    float: left;
}
#design_4 .down_pic1{
    float:right;
}
.down_1{
    text-decoration: none;
    color: white;
}
#page_ds #design_4 .down_pic1{
    width: 100px;
    height: 40px;
    margin-top: 40px;
    font-weight: bold;
    font-family: Arial;
    background: slategrey;
    border-style: none;

}

#page_ds #design_5{
    width: 800px;
    height: 450px;
    margin-top: 100px;
}
#page_ds #design_5 #head_ds5{
    font-size: 30px;
    width: 600px;
    height: 50px;
    background: lightslategray;
    margin: 50px 100px;
}

#design_5 #background_5{
    float: left;
}
#design_5 .down_pic1{
    float:right;
}
.down_1{
    text-decoration: none;
    color: white;

}
#page_ds #design_5 .down_pic1{
    width: 100px;
    height: 40px;
    margin-top: 40px;
    font-weight: bold;
    font-family: Arial;
    background: slategrey;
    border-style: none;

}

#page_ds #ds_download_all{
   width:  500px;
    height:70px;

}

 .down_all{
     width: 350px;
     height: 50px;
     margin-right: 100px;
     background: lightslategray;

}
#page_ds #ds_download_all .down_pic1{
    width: 100px;
    height: 40px;
    margin-top: 40px;
    font-weight: bold;
    font-family: Arial;
    background: grey;
    border-style: none;

}








