body{
    margin: 0px;
    padding: 0px;
}
a{
    text-decoration: none;
}
#container{
    height: 1000px;
    background: white;
    margin: auto;
}
#container #header{
    height:60px;
    background: black;
    margin: auto;

}
#container #header #trangchu{
    float: left;
    clear: right;
    margin-top: 20px;
    margin-left: 100px;

}

#container #header #baitap{
    float: left;
    clear: right;
    margin-top: 20px;
    margin-left: 250px;
}
#container #header #ab{
    float: left;
    margin-top: 20px;
    margin-left: 250px;
}

#container #intro{
    height: 500px;
    margin-top: -16px;
}
#container #intro p{
    margin-left: 400px;
    margin-top: 100px;
    font-size: 25px;
    color: #5E4A3A;
}


